@model Pizza

<div class="container">
    <div class="row">
        <div class="col">

           <h1>@Model.Name <span class=" my-5">@Model.Price</span></h1>
            <div>
                <img src="@Model.Image" />
            </div>
            <p>@Model.Description</p>
           

        </div>
    </div>


</div>